form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
}
.box-input{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    border: none;
}
.todo-input{
    padding: 1%;
    width: 250px;
    height: 20px;
    font-family:  'DotGothic16', sans-serif;
    font-weight: 500;
}

.todo-button{
    font-family:  'DotGothic16', sans-serif;
    box-shadow: 1px 1px 0 #000000;
    border-radius: 5%;
    border: none;
    font-weight: 600;
    height: 30px;
    letter-spacing: 2px;
}

select{
    font-family:  'DotGothic16', sans-serif;
    box-shadow: 1px 1px 0 #000000;
    font-weight: 500;
    padding: 5%;
    border: none;
}